* {
    font-family: "Cocomat Pro", sans-serif;
}

body {
    background-color: #fcf8e8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}


a {
    text-decoration: none;
    cursor: pointer;
}

main {
    padding-top: 150px;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.containertopo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.containertopo h2 {
    position: absolute;
    color: #ffffff;
    font-size: 38px;
    width: 957.1px;
    height: 265.1px;
    padding-top: 225px;
    text-transform: uppercase;
}

.containerfotoemcima {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.barcolixo {

    width: 510px;
    height: 370px;
}

.pneulixo {
    width: 370px;
    height: 300px;
    position: absolute;
    margin-top: 210px;
    margin-left: 210px;
}

.containercimacima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding-left: 40px;
    padding-bottom: 5rem;
}

.textobarco {
    width: 551.7px;
    height: 29.9px;
}

.containercimacima h2 {
    width: 551.7px;
    height: 29.9px;
    font-size: 40px;
    margin-bottom: 60px;
}

.TopHome {
    width: 100%;
}


.imagemP {
    width: 640px;
    height: 640px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    gap: 10px;
    margin-right: 80px;
    justify-content: center;
    height: 70vh;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

.text-container h3 {
    font-size: 29px;
}

.fundo1 {
    padding-top: 80px;
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/fundocarrosel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.container-fundo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.carrosel-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.carrosel-container p {
    position: inherit
}


.splide {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.title-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-p-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 19px;
}

#titulo {
    font: 48px;
}

.fundo2 {
    width: 100%;
    height: 70vh;
    background-image: url('../IMG/mapamundi.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.square-container {
    width: 332px;
    height: 552px;
    background-color: green;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 18rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27rem;
}

.card-image img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.card-footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: 32px;

}

.divider {
    width: 100%;
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px 0;
}



.card-text {
    margin: -10px 0 10px 0;
    font-size: 14px;
    color: #555;
    display: inline-block;
    padding: 0 10px;
}

.card-button {
    background-color: #b4c7b2;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


.conteiner-history {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.fundo3 {
    width: 100%;
    height: 70vh;
    background: url('../IMG/sacola.png') no-repeat center / cover;
}

.fundo4 {
    width: 100%;
    height: 70vh;
}

.history-text {
    width: 540px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.history-img {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.history-text p {
    font-size: 21px;
}

.h-img1 {
    width: 550px;
    height: 550px;
}

.h-img2 {
    width: 400px;
    position: absolute;
    height: 400px;
    margin-left: 210px;

}

.fundo5 {
    width: 100%;
    height: 95vb;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../IMG/fundo5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 3rem;
}

.fundo5 li {
    color: white;
    font-size: 20px;
}

.fundo5 p {
    color: white;
    font-size: 27px;
}

.container-fundo5 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 600px;
    padding-top: 60px;
}

.header-fundo5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header-fundo5 img {
    width: 60px;
    height: 60px;
}

.fundo6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;

}

.fundo6 img {
    width: 600px;
    height: 400px;
    padding-left: 80px;
    padding-bottom: 80px;
}

.fundo6 p {
    width: 30%;

}

li {
    padding-right: 30px;
}



.splide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splide__slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.btn {
    margin-top: 1rem;
    color: #544d4d;
    border: 1px solid #544d4d;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.splide {
    width: 100%;
    /* Garante que o carrossel ocupe toda a largura disponível */
    max-width: 100%;
    /* Impede que ultrapasse a largura da tela */
    overflow: hidden;
    /* Oculta qualquer conteúdo que ultrapasse os limites do carrossel */
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .fundo4 {
        height: 47vh;
    }

    .title {
        font-size: 20px;
    }

    nav {
        justify-content: center;
        width: 100%;
    }


    nav a {
        font-size: 14px;
    }

}


@media (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden !important;
    }



    .history-text p {
        font-size: 1.28rem;
        width: auto;
        text-align: center;
    }

    .fundo1 {
        height: auto;
    }

    .fundo4 {
        height: 57vb;
    }

    .splide__slide {
        padding: 0;
        /* Remove o padding das imagens ou slides, se houver */
    }

    .splide__list {
        width: 100%;
        /* Garante que a lista de slides não ultrapasse os limites */
    }

    .splide__track {
        overflow: hidden;
        /* Impede que o conteúdo ultrapasse a área visível */
    }

    .fundo2 {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    .card-container {
        flex-direction: column;
    }

    .container-fundo1 {
        max-width: 100%;
    }


    .containertopo h2 {
        display: none;
    }

    .fundo5 {
        height: auto;
        padding-bottom: 4rem;
    }

    .container-fundo5 {
        width: 100%;
    }

    /* Ajustes gerais */
    .containertopo {
        flex-direction: column;
        align-items: center;
    }

    .containertopo h2 {
        font-size: 24px;
        width: 90%;
        height: auto;
        padding-top: 10px;
        text-align: center;
    }

    .containerfotoemcima {
        padding-left: 0;
        align-items: center;
    }

    .barcolixo,
    .pneulixo {
        width: 90%;
        height: auto;
        margin: 20px 0 0 0;
        position: static;
        border: none;
        border-right: none;
        border-bottom: none;
        border-radius: none;
        box-shadow: none;
    }


    .containercimacima h2 {
        font-size: 18px;
        width: 100%;
        margin-bottom: 0px;
    }


    .text-container {
        margin: 0px auto;
        padding: 0px;
        height: auto;
        width: auto;
    }

    .text-container h3 {
        font-size: 15px;
    }

    .containercimacima {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding-left: 0px;
    }

    .textobarco {
        width: 100%;
        font-size: 18px;
    }

    .nav-links {
        padding-right: 0px;
    }

    .carrosel-container img {
        width: 300px;
    }

    #img-p-down {
        width: auto;
        font-size: 1.28rem;
        text-align: center;
    }

    .title-container {
        flex-direction: column;
        gap: 5px;
    }

    .history-text,
    .history-img {
        width: 100%;
        align-items: center;
    }

    .h-img1,
    .h-img2 {
        height: 350px;
        width: 350px;

    }

    .conteiner-history {
        padding-bottom: 3rem;
        gap: 40px;

    }

    .header {
        width: 100%;
    }




    .title {
        font-size: 18px;
    }

    nav {
        gap: 5px;
    }

    .conteiner-history {
        display: flex;
        flex-direction: column;
    }


    .history-text {
        height: auto;

    }

    .fundo4 {
        height: 100%;
    }

    .history-img {
        width: 250px;
        height: 250px;
    }

    .fundo6 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .carrosel-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .fundo6 img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .fundo6 p {
        width: 90%;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        /* Mostrar o botão no mobile */
    }

    .nav-links {
        opacity: 0;
        /* Esconder com transição */
        visibility: hidden;
        pointer-events: none;
    }

    .nav-links.open {
        opacity: 1;
        /* Mostrar menu ao clicar no botão */
        visibility: visible;
        pointer-events: auto;
    }

    .button-contei {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 20px;
    }

    header {
        height: auto;
    }
}