body {
    background-color: #fdf8e7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.fundo1 {
    padding-top: 80px;
    width: 100%;
    height: 66vh;
    background-image: url('../IMG/header_vendas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.containertopo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Certifica-se de que o elemento esteja acima de outros */
}

.TopHome {
    width: 100%;
}

.block-fundo2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fundo2-container {
    display: flex;
    background-color: #c8c9b1;
    height: 30rem;
    width: 80%;
}

.fundo2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;


}

.fundo2-text ul li {
    font-size: 22px;
    padding-bottom: 30px;

}

.text-mobile {
    display: none;
}

.li-text {
    display: flex;
    flex-direction: column;

}

.orca-button {
    display: flex;
    gap: 20px;
    border: 1px solid #544d4d;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.li-text li {
    color: #416449;
}

.block-fundo3 {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* .fundo2 {
    background-image: url('caminho-da-imagem-1.jpg');
    background-size: cover;
    background-position: center;
}

.fundo3 {
    background-image: url('caminho-da-imagem-1.jpg');
    background-size: cover;
    background-position: center;
} */

li span {
    color: #416449;
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 424px) {

    .fundo1 {
        height: auto;
        padding-bottom: 20px;
    }

    .block-fundo2,
    .block-fundo3 {
        display: none;
    }

    .text-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #b4c7b2;
        justify-content: center;
        height: 70vh;
    }

    .text-mobile h1{
        font-size: 40px;
    }
    .text-mobile p {
        text-align: center;
        font-size: 19px;
    }
}